.header {
  /* border: 0.1px solid red; */
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

/* @media screen and (max-width: 1279px) {
  .header {
    padding: 45px 100px 41px;
  }
} */

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 27px 31px;
  }
}

/* @media screen and (max-width: 424px) {
  .header {
    padding: 45px 200px 41px;
  }
} */