.element__delete-button {
    /* grid-area: element__favorite; */
    /* grid-area: element__image; */
    /* justify-self: right; */
    position: absolute;
    top: 20px;
    right: 18px;
    
    width: 18px;
    height: 19px;
    background: center / cover no-repeat url(../../../images/trash.svg);
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    border: none;
    z-index: 1;
  }
  
  .element__delete-button:hover {
    opacity: .5;
  }